{% extends "list_view/inherited/modals.html" %}


{# Page config #}
{% set title="Employees" %}
{% set search_placeholder="Search employee" %}
{% set active="employees" %}


{# Modal config #}
{% set add_id = "add_employee" %}
{% set add_title = "Add employee" %}
{% block modal_body %}
<div class="container-fluid p-3">
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col me-auto">
                <h4>Full name:</h4>
            </div>
            <div class="col  ms-auto text-center">
                <input class="form-control" placeholder="Full name">
            </div>
        </div>
    </div>
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col me-auto">
                <h4>Department name:</h4>
            </div>
            <div class="col  ms-auto text-center">
                <select class="form-select">
                    <option selected disabled>Select department</option>
                    <option value="1">Department of IT development</option>
                    <option value="2">QA</option>
                </select>
            </div>
        </div>
    </div>
    <div class="container-fluid p-3">
        <div class="row justify-content-between">
            <div class="col me-auto">
                <h4>Birth date:</h4>
            </div>
            <div class="col  ms-auto text-center">
                <input class="form-control" placeholder="dd/mm/yyyy">
            </div>
        </div>
    </div>
    <div class="container-fluid p-3">
        <div class="row justify-content-between">
            <div class="col me-auto">
                <h4>Salary:</h4>
            </div>
            <div class="col ms-auto text-center">
                <input class="form-control" placeholder="Salary">
            </div>
        </div>
    </div>
</div>
{% endblock %}